@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url("../public/2020-goku-anime_1596921592.jpg");
  background-size: cover;
}

::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-thumb{
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}